* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}
body {
    width: 700px;
    margin: auto;
}
nav {
}
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
    color: white;
    padding: 20px;
}

.header .header--image {
    width: 50px;
    margin-right: 4px;
}
.header .header--title {
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
}
.header .header--project {
    /* margin-right: auto; */
    /* float: right; */
}

/* ============== Form ================ */
.input {
    display: flex;
    justify-content: space-between;
}

.input input {
    margin-top: 50px;
    width: 47%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d5d4d8;
}
.submit {
    margin-top: 10px;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
    border: none;
    padding: 15px;
    border-radius: 5px;
}
